/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #a1a1cfde;

}
/below code is not in use you have to change it*
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  } upto here

header {
    background-color: #2c4152;
    color: white;
    text-align: center;
    padding: 2rem;
}

img {
    border-radius: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #1f2444;
    padding: 1rem;

 }

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fad6d6;
}

section {
    padding: 2rem;
    text-align: center;
}


footer {
    background-color: #070749;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer,form {
    align-items: center;
}

footer,div {
    body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #b90606;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #eceaea;
  padding: 20px;
}
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.8;
  }

  .fa-github {
    background: #1b1a1a;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #d12828;
    color: white;
  }






